Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


[Cc]ontent/[Ss]tarterContent/
[Cc]ontent/__ExternalActors__/
[Cc]ontent/__ExternalObjects__/

# Unreal Engine - Generated build / lighting data
*_BuiltData.uasset
*_BuiltData.uasset.meta